{
  "version": 3,
  "case_config": {
    "CASE_ROOT": "C:\\path\\to\\tutorial_cases",
    "DOCKER_IMAGE": "haldardhruv/ubuntu_noble_openfoam:v12",
    "OPENFOAM_VERSION": "12",
    "ACTIVE_CASE": ""
  },
  "run_history": [],
  "geometry_preferences": {
    "preferred_mode": "case",
    "library_selection": "",
    "case_geometry_selections": {}
  },
  "plot_preferences": {
    "font": "roboto",
    "background": "glass",
    "logo_mode": "foamtrame",
    "custom_logo_data": ""
  },
  "security_preferences": {
    "security_enabled": false,
    "bind_mode": "loopback",
    "cors_mode": "same_origin",
    "cors_origin": "",
    "security_headers": true,
    "api_key_enabled": false,
    "api_key_hash": "",
    "max_request_mb": 2,
    "websocket_max_message_mb": 4,
    "session_timeout_enabled": false,
    "session_timeout_minutes": 30
  }
}
